.text-white{
    color: #fff !important;
}
.cust-text-position-right{
    text-align: right !important;
}
.cta-span{
    display: block;
    font-family: "satoshi", "satoshi Fallback";
    font-size: 36px;
}
@media (max-width: 640px) {
    .xs\:flex-row {
        flex-direction: row;
    }
    .xs\:flex-wrap{
        flex-wrap: wrap;
    }
}
